
# dependencies
/node_modules

# logs
logs
*.log
npm-debug.log*

# runtime data
pids
*.pid
*.seed
*.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS meta data
.DS_Store
.DS_Store?
._* 
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
