.congrats-background {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Grey tint */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.congrats-modal {
  font-family: Arial, Helvetica, sans-serif;

  z-index: 9999999999;
  background-image: linear-gradient(rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 1)),
  url('Assignment_Assets/Images/Cloud+Background.png');
  width: 1280px;
  height: 720px;
  background-color: rgba(0, 0, 0, 0.5); /* Grey tint */
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size:cover;  /* This ensures the image covers the entire div */

  }
  
  h2 {
    font-size: 2.5em;
    color: rgb(83, 83, 83);
  }
  
  .images-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:95px;
  }
  
  .image {

    background-size: contain;
    background-repeat: no-repeat;
  }
   
  #image1 {
    background-image: url('Assignment_Assets/Images/image 1.png');
    margin-top: 0%;
    width: 350px; /* Adjust as needed */
    height: 350px; /* Adjust as needed */
    margin-right: -175px;
    margin-left: 50px;
    right: 150px;
  }
  
  #trophy {
    background-image: url('Assignment_Assets/Images/Trophy1 1.png');
    width: 380px; /* Adjust as needed */
    height: 380px; /* Adjust as needed */
    position: relative;
    left: 35px;

  }
  
  #image2 {
    background-image: url('Assignment_Assets/Images/image 2.png');
    margin-top: 0%;
    width: 350px; /* Adjust as needed */
    height: 350px; /* Adjust as needed */
    margin-left:-30px;

  }
  
  p {
    position: relative;
    bottom: 0px;
    left: 0px;
    top: 10%;
    font-size: 1.5em;
    color: rgb(83, 83, 83);

  }
  